*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;;
}
img{
    width: 100%;
}
li{
    list-style: none;
}


/**** HEADER ****/

.header-top{
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    height: 70px;
    
}
.header-top nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-top nav ul{
    display: flex;
    height: 100%;
}

.header-top ul li{
    display: flex;
    font-size: 13px;
    align-items: center;
    margin-right: 20px;
}
.header-top ul li a{
    text-decoration: none;
    color: black;
}
.header-top ul li a img{
    padding-top: 10px;
    padding-right: 20px;
}
.header-top .menu-sx li:nth-child(2):hover{
    border-bottom: 2px solid black;
}
.header-top .menu-sx li:nth-child(3):hover{
    border-bottom: 2px solid black;
}
.header-top .menu-sx li:nth-child(4):hover{
    border-bottom: 2px solid black;
}
.header-top .menu-dx li:nth-child(1):hover{
    border-bottom: 2px solid black;
}
.header-top .menu-dx li:nth-child(2):hover{
    border-bottom: 2px solid black;
}
.header-top .menu-dx li:nth-child(3):hover{
    border-bottom: 2px solid black;
}
.btn-inizia{
    padding-top: 20px;
}
.btn-inizia button{
    width: 70px;
    height: 35px;
    background-color: #0061ff;
    border: 2px solid #0061ff;
}
.btn-inizia button a{
    color: white;
    text-decoration: none;
}
/**** HERO ****/

.hero{
    height: 640px;
    background-color: #b4d0e7;
}
.container-hero{
    max-width: 1000px;
    margin: 0 auto;
}
.container-hero h1{
    padding-top: 85px;
    font-size: 68px;
    padding-bottom: 50px;
    line-height: 90px;
    font-weight: 800;
    font-family: system-ui;
}
.hero-text{
    width: 40%;
}
.hero-text p{
    font-size: 14px;
    padding-bottom: 25px;
    line-height: 18px;
}
.hero-image{
    width: 85%;
}
.btn button{
    background-color: #0061ff;
    width: 200px;
    height: 40px;
    border: 1px solid #0061ff;
}

.btn button a{
    font-size: 14px;
    color: white;
    text-decoration: none;
}
.annulla{
    padding-top: 25px;
}
.annulla a{
    font-size: 14px;
    text-decoration: none;
    color: black;
}
.freccia{
    font-size: 45px;
    padding-top: 45px;
}
.freccia a{
    text-decoration: none;
    color: black;
}